# Author - Nalanda Bankar
The Sparks Foundation DSBA (DataScience and Business Analytics) GRIPJULY21
Task-1: Predict the percentage of an student based on the no. of study hours.

In [1]:
# importing necessary libaries

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
# Reading the dataset from the link given in GRIP TASK pdf
url = "http://bit.ly/w-data"
s_data = pd.read_csv(url)
print("Data imported successfully")

s_data.head(10)

Data imported successfully

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30
5    1.5      20
6    9.2      88
7    5.5      60
8    8.3      81
9    2.7      25